@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #faf4ea;
    --color-brand-normal: #819B57;
    --color-brand-light: #CFCFBC;
    --color-copy: #A18268;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-primary-dark);
    /* background: blueviolet; */
    background: var(--color-primary-light);
    margin: 0;
    padding: 0;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.logo {}

.section-title {
    font-size: 62px;
    font-weight: 900;
    line-height: 1.31;
}

.section-title span {
    color: var(--color-brand-normal);
}

.container {
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* -- header -- */

.header {
    padding-top: 32px;
    margin-bottom: -91px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.header__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header__list {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-grow: 1;
    gap: 64px;
}

.header__link {
    color: var(--color-primary-light);
}

.header__link:hover {
    color: var(--color-brand-normal);
}

.header__btn {
    background: var(--color-brand-normal);
    color: var(--color-primary-light);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* -- hero -- */

.hero {
    padding: 272px 0;
    background-image: url(../images/main-rectangle-bg.png), url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.hero__title {
    text-align: center;
    color: var(--color-primary-light);
    font-size: 128px;
    font-weight: 900;
}

.hero__title span {
    color: var(--color-brand-normal);
}

/* -- advantages -- */

.advantages {
    padding: 16px 0;
    background: var(--color-brand-normal);
}

.advantages__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantages__item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}

/* -- traditions -- */

.traditions {
    padding: 96px 0 48px 0;
}

.traditions__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions__left {
    max-width: 710px;
}

.traditions__text {
    margin-top: 42px;
}

.traditions__text:nth-child(2) {
    max-width: 620px;
}

.traditions__text:nth-child(3) {
    max-width: 380px;
}

.traditions__text-uppercase {
    color: var(--color-brand-normal);
    font-weight: 600;
    text-transform: uppercase;
}

.traditions__text span {
    color: var(--color-brand-normal);
    font-weight: 600;
}

/* -- cookers -- */

.cookers {
    padding: 48px 0;
}

.cookers__section-title {
    position: relative;
    max-width: 538px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
}

.cookers__section-title::before {
    position: absolute;
    content: '';
    display: block;
    width: 352px;
    /* width: 100%; */
    height: 2px;
    background: var(--color-brand-light);
    bottom: 20px;
    left: 0;
}

.cookers__section-title::after {
    position: absolute;
    content: '';
    display: block;
    width: 352px;
    height: 2px;
    background: var(--color-brand-light);
    bottom: 20px;
    right: 0;
}

.cookers__list {
    display: flex;
    gap: 30px;
}

.cookers__item {
    flex-basis: calc((100% - 30px) / 2);
}

.cookers__article {
    display: flex;
    gap: 30px;
}

.cookers__img {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-copy);
}

.cookers__content {}

.cookers__title {
    font-size: 40px;
    font-weight: 600;
}

.cookers__text {
    margin-top: 16px;
}

/* -- formats -- */

.formats {
    padding: 48px 0;
}

.formats__section-title {
    text-align: center;
    margin-bottom: 80px;
}

.formats__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.formats__btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    padding: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.formats__btn:hover {
    background: var(--color-primary-dark);
}

.formats__arrow {
    fill: var(--color-primary-dark);
}

.left {
    transform: rotate(180deg);
}

.formats__btn:hover .formats__arrow {
    fill: var(--color-primary-light);
}

.formats__list {
    display: flex;
    gap: 20px;
}

.formats__item {
    flex-basis: calc((100% - 40px) / 3);
}

.formats__article {
    height: 444px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #31261A;
    background: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
}

.formats__title {
    color: var(--color-primary-light);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.formats__text {
    color: var(--color-primary-light);
    font-size: 14px;
    font-weight: 300;
    max-width: 280px;
}

/* -- contacts -- */

.contacts {
    padding: 48px 0 102px 0;
}

.contacts__wrapper {
    display: flex;
    gap: 32px;
}

.contacts__form-group {}

.contacts__map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

.contacts__text {
    color: var(--color-brand-normal);
    margin-top: 16px;
}

/* -- footer -- */

.footer {
    padding: 32px 0 23px 0;
    background-color: var(--color-primary-dark);
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__nav {}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__nav-item {}

.footer__nav-link {
    color: var(--color-primary-light);
}

.footer__nav-link:hover {
    color: var(--color-brand-normal);
}

.footer__address {}

.footer__address-list {
    max-width: 211px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__address-item-social {
    display: flex;
    gap: 22px;
}

.footer__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}

.footer__address-link:hover {
    color: var(--color-brand-normal);
}

.footer__address-icon {
    fill: var(--color-primary-light);
}

.footer__address-icon:hover {
    fill: var(--color-brand-normal);
}

.footer__policy-copy {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__policy {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
}

.footer__copy {
    color: var(--color-copy);
    font-size: 14px;
    font-weight: 400;
}