:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #faf4ea;
    --color-brand-normal: #819B57;
    --color-brand-light: #CFCFBC;
    --color-copy: #A18268;
    --color-form-text: #465929;
}

$bp-mini-mobile: 360px;
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-sub-tablet: 1100px;
$bp-desktop: 1280px;