.footer {
    position: relative;
    padding: 32px 0 23px 0;
    background-color: var(--color-primary-dark);
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer::before {
    position: absolute;
    content: '';
    background-image: url(../images/footer-baton-1.png);
    background-repeat: no-repeat;
    width: 180px;
    height: 120px;
    background-size: 100%;
    left: 0;
    bottom: 0;
}

.footer::after {
    position: absolute;
    content: '';
    background-image: url(../images/footer-baton-2.png);
    background-repeat: no-repeat;
    width: 378px;
    height: 187px;
    background-size: 100%;
    right: 0;
    bottom: 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__nav-link {
    color: var(--color-primary-light);
}

.footer__nav-link:hover {
    color: var(--color-brand-normal);
}

.footer__address-list {
    max-width: 211px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__address-item-social {
    display: flex;
    gap: 22px;
}

.footer__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
}

.footer__address-link:hover {
    color: var(--color-brand-normal);
}

.footer__address-icon {
    fill: var(--color-primary-light);
}

.footer__address-icon:hover {
    fill: var(--color-brand-normal);
}

.footer__policy-copy {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__policy {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
}

.footer__copy {
    color: var(--color-copy);
    font-size: 14px;
    font-weight: 400;
}