.section-title {
    font-size: 62px;
    font-weight: 900;
    line-height: 1.31;
}

.section-title span {
    color: var(--color-brand-normal);
}

@media (max-width: $bp-desktop) {

    .section-title {
        font-size: 52px;
    }

}

@media (max-width: $bp-tablet) {

    .section-title {
        font-size: 32px;
    }

}